a:hover {
    cursor: pointer;
}

/* ========== Header ========== */

#header .nav > li:nth-child(2),
#header .nav .dropdown-menu li:nth-child(n+13):nth-child(-n+15),

/* ========== Menu ========== */

/*#menu #catalog li:nth-child(3),
#menu #catalog li:nth-child(4),
#menu #catalog li:nth-child(8),
#menu #extension li:nth-child(n+1):nth-child(-n+3),
#menu #extension li:nth-child(n+5):nth-child(-n+8),
#menu #design,
#menu #sale > ul > li:nth-child(2),
#menu #sale > ul > li:nth-child(4),
#menu #sale > ul > li:nth-child(5),
#menu #customer li:nth-child(3),
#menu #marketing-menu li:nth-child(n+1):nth-child(-n+2),
#menu #marketing-menu li:nth-child(4),
#menu #system > ul > li:nth-child(2) ul li:nth-child(3),
#menu #system > ul > li:nth-child(4),
#menu #reports > ul > li:nth-child(3) > ul > li:nth-child(n+4):nth-child(-n+5),
#menu #reports > ul > li:nth-child(4),
#menu #journal2-menu > ul > li:nth-child(3),*/

/* ========== Category Page ========== */

#form-category > .nav-tabs li:nth-child(3),
#form-category #tab-general .form-group:nth-child(5),
#form-category #tab-data .form-group:nth-child(n+2):nth-child(-n+3),
#form-category #tab-data .form-group:nth-child(n+6):nth-child(-n+7),

/* ========== Product Page ========== */

#form-product > .nav-tabs li:nth-child(6),
#form-product > .nav-tabs li:nth-child(n+10):nth-child(-n+11),
#form-product #tab-general .form-group:nth-child(6),
#form-product #tab-data .form-group:nth-child(n+3):nth-child(-n+4),
#form-product #tab-data .form-group:nth-child(n+6):nth-child(-n+9),
#form-product #tab-links .form-group:nth-child(n+3):nth-child(-n+5),
#form-product #tab-option .table td:nth-child(5),

/* ========== Options Page ========== */

#form-option #input-type optgroup:nth-child(3),

/* ========== Manufacturer Page ========== */

#form-manufacturer .form-group:nth-child(2),

/* ========== Information Page ========== */

#form-information > .nav-tabs li:nth-child(3),
#form-information #tab-general .form-group:nth-child(5),
#form-information #tab-data .form-group:nth-child(1),
#form-information #tab-data .form-group:nth-child(3),

/* ========== Sale Order Page ========== */

#sale-order-info .col-md-4:nth-child(3) table tr:nth-child(n+2):nth-child(-n+3),
#tab-history .form-horizontal .form-group:nth-child(2),
#sale-order-form #tab-customer .form-group:nth-child(1),
#sale-order-form #tab-customer .form-group:nth-child(9),
#sale-order-form #tab-cart > .nav-tabs li:nth-child(2),
#sale-order-form #tab-payment .form-group:nth-child(6),
#sale-order-form #tab-shipping .form-group:nth-child(6),
#sale-order-form #tab-total fieldset .form-group:nth-child(5),
#sale-order-form #tab-total fieldset .form-group:nth-child(6),
#sale-order-form #tab-total fieldset .form-group:nth-child(9),

/* ========== Customer Page ========== */

#form-customer .nav-tabs li:nth-child(n+3):nth-child(-n+4),
#form-customer #tab-customer .form-group:nth-child(6),
#form-customer div[id^="tab-address"] .form-group:nth-child(6),

/* ========== Settings Page ========== */

#form-setting .nav-tabs li:nth-child(6),
#form-setting #tab-general .form-group:nth-child(n+3):nth-child(-n+5),
#form-setting #tab-local .form-group:nth-child(6),
#form-setting #tab-option fieldset:nth-child(6) .form-group:nth-child(9),
#form-setting #tab-option fieldset:nth-child(6) .form-group:nth-child(11),
#form-setting #tab-option fieldset:nth-child(3),
#form-setting #tab-option fieldset:nth-child(8),
#form-setting #tab-option fieldset:nth-child(10),
#form-setting #tab-mail #input-mail-protocol option:nth-child(2),
#form-setting #tab-mail .form-group:nth-child(n+3):nth-child(-n+7),
#form-setting #tab-server fieldset:nth-child(1) .form-group:nth-child(4),
#form-setting #tab-server fieldset:nth-child(1) .form-group:nth-child(5),
#form-setting #tab-server fieldset:nth-child(n+2):nth-child(-n+4),

/* ========== SummerNote ========== */

.note-editor .note-toolbar .note-help {
    display: none;
}