.mokilizingas__calculator {
	background: #ffffff;
	position: relative;
	padding: 25px;
	margin-bottom: 2rem;
	margin-top: 1rem;
	border-bottom: 1px solid #ECECEC;
}

.mokilizingas__calculator-content {
	display: flex;
	justify-content: space-between;
}

.mokilizingas__calculator-logo {
	width: calc(40.0% - 15px);
	text-align: center;
}

.mokilizingas__calculator-logo img {
	max-width: 300px;
	height: auto;
}

.mokilizingas__calculator-logo--middle {
	justify-content: center;
	align-self: center;
}

.mokilizingas__calculator-contact {
	color: #ffffff;
	width: calc(30% - 15px);
}

.mokilizingas__calculator-contact h4 {
	color: #000000;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: -1px;
	position: relative;
}

.mokilizingas__calculator-contact a {
	color: #333;
}

.mokilizingas__calculator-contact p {
	color: #333;
}

#button-check-mokilizingas {
	margin-bottom: 15px;
}

.leasing-mb-2 {
	margin-bottom: 2rem;
}

/* Updater block */
.mokilizingas__updater {
	position: relative;
	margin-bottom: 2rem;
	border-radius: .25rem;
}

.mokilizingas__updater .mokilizingas__updater-msg {
	padding: 1.55rem 1.55rem;
}

.mokilizingas__updater .mokilizingas__updater-msg--success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.mokilizingas__updater .mokilizingas__updater-msg--warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.mokilizingas__updater p {
	margin: 0;
}

.mokilizingas__updater a {
	color: #00a3e0;
}

.inbank--oc2 .text-danger {
	color: red;
	padding-top: 5px;
}

.inbank--oc2 .form-group {
	margin-bottom: 1rem;
	max-width: 100%;
}

.inbank--oc2 .form-group label {
	display: inline-block;
	margin-bottom: .5rem;
	font-weight: bold;
}

.inbank--oc2 .form-group input, .inbank--oc2 .form-group select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	font-size: 14px !important;
}

/* Mobile style */
@media only screen and (max-width: 420px) {
	.mokilizingas__calculator-content {
		display: block;
	}

	.mokilizingas__calculator-logo {
		display: block;
		width: 100%;
		margin-bottom: 3rem;
	}

	.mokilizingas__calculator-contact {
		display: block;
		width: 100%;
		margin-bottom: 3rem;
	}
}