.giftTeaserWidget {}
* > .giftTeaserWidget {
	margin-top: 20px;
}

.giftTeaserWidget .gt-nopanel-heading {
	color: #444;
    font-size: 21px;
    margin: 20px 0 10px;
}
html[data-jv] .giftTeaserWidget .gt-nopanel-heading { /* Journal 3 */
    margin: 0 0 15px;
}

.giftTeaserWidget .box-product {
	margin: 20px -1% 0;
    overflow: hidden;
}
.giftTeaserWidget .gift {
	float:left;
    color: #444;
	background: #fff;
	width: 48.6%;
	padding: 12px;
	margin-left:  1%;
	margin-bottom:  1%;
	border: 1px solid #ddd;
    border-radius: 4px;
}
.giftTeaserWidget .gift .image {
	float: left;
}
.giftTeaserWidget .gift .gt-info {
	padding-left:  10px;
}
.giftTeaserWidget .gift .name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom:  5px;
}
.giftTeaserWidget .gift p {
	margin-bottom: 0;
}
.giftTeaserWidget .gift .image a {
	display: inline-block;
}

/* Journal 2 */
html[data-j2v] .giftTeaserWidget {
	margin-bottom: 20px;
}
html[data-j2v] #content .giftTeaserWidget .box-product {
	margin: 20px -1% 0;
	padding:  0;
    overflow: hidden !important;
}
html[data-j2v] .box.giftTeaserWidget .box-content {
	padding-top: 20px
}
html[data-j2v] .giftTeaserWidget i {
	font-style:  italic;
}

/* Journal 3 */
html[data-jv] .module-title {
	text-align: center;
}
html[data-jv] .module-title h3 {
	font-size: 28px;
    font-weight: 700;
}
html[data-jv] .title-divider {
    display: block;
    max-width: 50px;
    height: 4px;
    background: rgba(240, 121, 63, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
}
html[data-jv] .subtitle {
	display: inline-block;
    max-width: 900px
}
html[data-jv] .giftTeaserWidget .box-product {
	margin: 0;
}


.giftTeaserLabel {
	font-size: 11px;
	line-height: 11px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	background-color: #FF6A2F;
	padding: 2px 4px;
	display: inline-block;
}

.mini-cart-info .giftTeaserLabel {
	margin: 4px 0;
	font-size: 9px;
	line-height: 9px;
}

.options_image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}

.gift-panel {
	overflow: hidden;
}
.gift-panel h2 {
	font-size: 16px;
}
.gift_options_footer {
	display: block;
	vertical-align:middle;
}

.gift_options_continue {
	float:right;
	display: inline-block;
	text-align:right;
}
.gift_options_continue a {
	font-size: 11px;
    padding: 4px 10px;
}

.gift_options_product_field {
	padding: 5px 0 12px 0;
}

.gift_options_product_field a {
	color: #000 !important;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding-bottom: 5px;
	line-height: 16px;
	display: block;
}

.gift_options_product_field a:hover {
	text-decoration:underline;
}

.gift_options .option {
	display: block;
	padding: 5px 0;
}

.GiftTeaserOptionsForm {
	display: inline-block;
}

.gift_option {
	text-align:center;
}

.freeGiftsMessageWrapper {
	font-size: 14px;
    line-height: 18px;
	text-align: center;
	padding: 12px;
	margin: 15px 0 30px;
	border-left: 12px solid #000;
    border-right: 12px solid #000;
	border-radius: 4px;
}
html[data-j2v] .freeGiftsMessageWrapper {
	margin: 20px 20px 0;
}
html[data-jv] .freeGiftsMessageWrapper { /* Journal 3 */
	margin: 15px auto;
	padding: 12px;
}

.freeGiftsMessageWrapper .giftBoxHeading {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
}
.freeGiftsMessageWrapper .giftBoxHeading i {
	font-size:18px;
}
