/* OpenCart Navigation Fixes */

#menu, #menu * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#menu > ul .top {
	line-height: 14px;
}

#menu > ul li li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
}

#menu > ul > li > ul {
	display: none !important;
	overflow: hidden !important;
	visibility: hidden !important;
}

#menu > ul > li.sfHover > ul {
	display: block !important;
	overflow: visible !important;
	visibility: visible !important;
}

/* ADMIN PANEL STYLES - BEGIN */

.breadcrumb {
	margin-top: 10px;
	padding: 12px 15px;
}

body {
	font-family: "Helvetica Neue", Helvetica ,Arial, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

.table>tbody>tr>td {
	vertical-align: middle;
}
.table tr:first-child td {
	border-top: none;
}

.modal .table>tbody>tr>td {
	vertical-align: top;
	padding: 12px 5px;
}
.modal .form-group {
	padding:  0;
}

.pagination {
	display: block;
	padding-left: 0;
	margin: 0;
	border-radius: 0px;
}

#main_settings_sub_tab .input-group {
	max-width: 137px;
}

.modulePositioning {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modulePositioning label {
	min-width: 90px;
}

.modulePositioning .form-control {
	width: 50%;
	display: inline-block;
}

.modulePositioning input[type="number"] {
	width: 20%;
}

.messageSubject {
	margin-bottom: 20px;
}

.list tbody td a {
	text-decoration: none;
}

.tab-navigation {
	position: relative;
}

.tab-navigation .nav {
	margin-bottom: 20px;
}

.tab-buttons {
	position: absolute;
	right: 0;
	top: 0;
}

.center {
	text-align: center;
}

.registeredDomains {
	padding: 0;
	margin: 0;
	list-style: none;
}

.licenseAlerts {
	margin-top: 10px;
}

/* iModules */

.iModuleContent .box .notActivatedContent {
	padding: 10px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	min-height: 300px;
	overflow: auto;
	text-align: center;
	padding-top: 80px;
}

.iModuleContent .iModuleActivateButton {
	background: #069;
	padding: 16px 28px;
	color: white;
	border: 4px solid #fff;
	outline: 4px solid #ccc;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 34px;
}

.iModuleContent .iModuleActivateButton:hover {
	background: #06d;
}

/* ADMIN PANEL STYLES - END */

/* BOOTSTRAP OVERRIDE - BEGIN */

.col-xs-2 {
	padding-left: 0px;
}

/* BOOTSTRAP OVERRIDE - END */

.colorsLi .colorPreview {
	width: 18px;
	height: 18px;
	background: #ccc;
	border: 1px solid #aaa;
}

.colorsLi tr th {
	color: #333;
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}

.colorsLi tr td {
	text-align: left;
}

#searchedFound {
	height: 400px;
	padding: 0;
}

div.content div.analytics {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

.iSimpleTable {
	margin: 0 20px 20px 20px;
}

.iSimpleTable td {
	padding: 5px;
	width: 100%;
	text-align: center;
}

.iSimpleTable td:first-child {
	text-align: left;
}

.iSimpleTable td:last-child {
	text-align: right;
}

.iSimpleTable tr:first-child td {
	border-bottom: 1px dotted #CCC;
}

/*Support tab*/
.panel-body .notLicensedTable, .panel-body .licensedTable {
	table-layout: fixed;
}

.panel-body .notLicensedTable .form-group, .panel-body .licensedTable .form-group {
	margin-bottom: 15px;
}

.panel-body .notLicensedTable ul, .panel-body .licensedTable ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.panel-body .notLicensedTable tr > td {
	padding: 10px 0;
}

.panel-body .box-content {
	padding: 10px;
	border: 1px solid #DBDBDB;
	min-height: 300px;
	overflow: auto;
}

.notLicensedTable .small-link {
	font-size: 12px;
}

.panel-body .thumbnail {
	margin: 15px 0;
}

.widgetPositionOpenCart {
	float: left;
	min-width: 120px;
}

.widgetPositionOpenCart label {
	font-weight: bold;
}

.widgetPositionOpenCart input[type="radio"] {
	margin-top: 0;
}

.widgetPositionOpenCart img {
	border: 1px solid #ddd;
}

div.checkbox {
	margin-left: 20px;
}

.input-group[class*=col-] {
	padding-left: 15px;
	padding-right: 15px;
}

.cke * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: content-box;
}

.notificationMessageTabs {
	margin: 20px 0;
}

input[type='text'], input[type='password'] {
	padding: 6px 12px;
}

.panel-heading {
	position: relative;
	padding: 15px;
}

.storeSwitcherWidget {
	position: absolute;
	right: 15px;
	top: 8px;
}

.storeSwitcherWidget .form-group {
	margin-bottom: 0;
	padding: 0;
	padding-top: 4px;
}

.storeSwitcherWidget .form-group.open .dropdown-menu {
	right: 0;
	left: auto;
}

.giftForm .input-group .button b {
	min-width: 13px;
}

.input-group #datetimepicker {
	min-width: 145px;	
}

.input-group .form-control {
	z-index: 0;
}

.giftSelector .sp-serviceBar > .control-label {
	float: left;
	width: 20%;
	margin: 0;
}

.giftSelector {
	margin-bottom: 20px;
}

.giftSelector .sp-serviceBar > .control-label {
	float: left;
	width: 20%;
	margin: 8px 0 0 0;
}

.giftSelector .sp-serviceBar > .switcher {
	float: right;
	width: 80%;
	margin: 0;
}

#colorbox {
	box-sizing: content-box !important;
}

.ui-autocomplete {
	z-index: 2000 !important;
}

.modal{
	z-index:none !important;
}

.fa-minus-circle {
	margin-right:5px;
	cursor: pointer;
}

.giftForm  .scrollbox {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.giftForm  .scrollbox div {
	display: inline-block;
	width: 100%;
	line-height: 25px;
	height: 25px;
	white-space: nowrap;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.giftForm  .scrollbox div:nth-child(odd),
.giftForm.scrollbox div:nth-child(odd) .removeIcon {
	background: #E4EEF7;
}

.giftForm .scrollbox div:hover .removeIcon {
	margin: 0 40px;
	background: none;
}

.giftForm .scrollbox .removeIcon {
	cursor: pointer;
	color: #C00;
	margin: 0px;
	font-size: 14px;
	line-height: 100%;
	height: 15px;
	margin: 0px;
	width: 15px;
	position: absolute;
	padding: 5px;
	top: 0;
	right: -30px;
	background: white;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.giftForm tr td .ui-autocomplete-input {
	margin-bottom:10px;
}

.customDesignColors  label {
	margin-top: 8px;
	width: 13%;
}
.bootbox.fade.bootbox-confirm.in {
	margin-top:200px !important;
}

#certain-product-selector input {
	width:210px;
	display:inline-block;
}

#some-product-selector input {
	width:210px;
	display:inline-block;
}

#product_help, span.help {
	color: #888;
	font-size: 12px;
	font-weight: normal;
    display: block;
    margin-top: 6px;
}
#product_help strong, span.help strong {
	color:  #777;
	font-style: italic;
}

.well {
	min-height:100px;
	margin-top: 10px;
	margin-bottom: 0;
}

.colorpicker_box_color {
	display: block;
	width: 15px;
	height: 15px;
}
