@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?12794268');
  src: url('../font/fontello.eot?12794268#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?12794268') format('woff'),
       url('../font/fontello.ttf?12794268') format('truetype'),
       url('../font/fontello.svg?12794268#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12794268#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-crown:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-compass:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-pinterest:before { content: '\e807'; } /* '' */
.icon-html5:before { content: '\e808'; } /* '' */
.icon-dribbble:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-skype:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-vimeo:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-comment-alt:before { content: '\e80c'; } /* '' */
.icon-lightbulb:before { content: '\e811'; } /* '' */
.icon-gift:before { content: '\e812'; } /* '' */
.icon-glasses:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */