/*
Template: Parallac
Author: Theme Tide, http://themetide.com/
Version: 1.5
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,700&subset=latin-ext);

@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext);
html {
    font-size:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.rs {

    margin:0;
    padding:0

}


ol.rs,ul.rs {
    list-style:none
}

img {
    max-width:100%;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode:bicubic
}

button,input,select,textarea {
    margin:0;
    vertical-align:middle;
    font-family:inherit;
    font-size:100%;
    outline:0
}

button,input {
    *overflow:visible;
    line-height:normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding:0!important;
    margin:0!important;
    border:0!important
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance:button;
    cursor:pointer
}

button,input[type=button],input[type=checkbox],input[type=radio],input[type=reset],input[type=submit],label,select {
    cursor:pointer
}

input[type=search] {
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -webkit-appearance:textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}

::-webkit-input-placeholder {
    color:#BABABA
}

:-moz-placeholder {
    color:#BABABA
}

::-moz-placeholder {
    color:#BABABA
}

:-ms-input-placeholder {
    color:#BABABA
}

textarea {
    overflow:auto;
    vertical-align:top;
    resize:none
}

h1,h2,h3,h4,h5,h6 {
    font-weight:400
}

*,:after,:before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body,html {
    height:100%
}

.hide {
    display:none
}

.text-center {
    text-align:center
}

body {
    font-family:'Open sans',sans-serif;
    font-size:14px;
    color:#fff
}

h1,h2,h3,h4,h5 {
    font-size:50px;
    text-align:center;
    margin:0 auto;
    text-transform:uppercase;
    font-family:Lato,sans-serif
}

h1 {
    font-size:100px;
    font-weight:700;
    line-height:100px
}

h3 {
    margin:0 0 20px;
    font-size:25px
}

h4 {
    font-size:20px;
    font-weight:700
}

h5 {
    font-size:16px;
    font-weight:700
}

small {
    text-transform:none;
    font-size:.7em
}

.subheader {
    margin:5px 0 70px;
    font-size:16px
}

a {
    color:#3f4d5b;
    outline:0!important;
    text-decoration:none;
    transition:all .6s ease-out 0s
}

a:active,a:focus,a:hover {
    text-decoration:none
}

.btn {
    cursor:pointer;
    display:inline-block;
    font-family:Lato,sans-serif;
    font-size:16px;
    font-weight:700;
    letter-spacing:1px;
    line-height:normal;
    text-transform:uppercase;
    vertical-align:middle;
    border:3px solid #fff;
    color:#fff;
    padding:15px 40px;
    -webkit-transition:all 300ms ease 0s;
    transition:all 300ms ease 0s
}

.btn:active,.btn:focus,.btn:hover {
    padding:15px 50px;
    background:#fff;
    color:#333
}

input,textarea {
    background:0 0;
    border:2px solid #fff;
    box-shadow:none;
    color:#FFF;
    display:inline-block;
    font-size:1.2em;
    font-weight:300;
    height:66px;
    margin:0;
    outline:medium none;
    padding:12px 20px;
    -webkit-transition:all 300ms ease 0s;
    transition:all 300ms ease 0s;
    width:400px
}

input[type=submit] {
    text-transform:uppercase;
    border-width:3px;
    font-family:Lato,sans-serif;
    font-size:16px;
    font-weight:700;
    letter-spacing:1px;
    width:250px
}

input[type=submit]:hover {
    background:#fff;
    color:#333;
    width:300px
}

textarea {
    height:238px
}

img {
    width:100%;
    height:auto
}

.form-item {
    margin:0 0 20px
}

.tooltipsy {
    padding:10px 20px;
    max-width:200px;
    color:#fff;
    background-color:#1BBCB8;
    position:relative
}

.tooltipsy:after {
    right:100%;
    top:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(27,188,184,0);
    border-right-color:#1BBCB8;
    border-width:7px;
    margin-top:-7px
}

#logo {
    margin-bottom:50px
}

#logo img {
    width:auto
}

#logo i {
    font-size:100px
}

#navigation {
    display:block;
    position:fixed;
    left:20px;
    z-index:10;
    height:100%
}

#navigation ul {
    list-style:none;
    padding:0;
    overflow:hidden;
    position:absolute;
    left:0;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}

#navigation li {
    margin:0 0 15px
}

#navigation li a {
    float:left;
    position:relative;
    padding:10px;
    transition:none
}

#navigation li a span {
    background-color:#fff;
    border-radius:50%;
    float:left;
    height:10px;
    width:10px;
    opacity:.5;
    text-align:center;
    -webkit-transition:opacity 150ms ease 0s;
    transition:opacity 150ms ease 0s
}

#navigation li a:hover span {
    background-color:#1BBCB8;
    opacity:1
}

#navigation li.current-page-item a {
    margin:0 0 0 -2px
}

#navigation li.current-page-item a span {
    background:0 0;
    border:2px solid #DDD;
    height:14px;
    opacity:1;
    width:14px
}

#navigation li.current-page-item a:hover span {
    border-color:#1BBCB8;
    background:0 0
}

.story {
    text-align:center;
    color:#FFF
}

.fullsection {
    background-size:cover;
    width:100%;
    min-height:100%;
    height:auto;
    padding:80px 0;
    overflow:hidden;
    position:relative;
    z-index:1
}

.auto-center {
    position:absolute;
    left:0;
    right:0;
    top:50%;
    -webkit-transform:translateY(-50%)!important;
    transform:translateY(-50%)!important
}

.container {
    margin:auto
}

#owl-banner {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:0
}

.bg-animation {
    background:url(../images/bg-animate.png) #222 repeat;
    background-position:0 0;
    -webkit-animation:patternEf 80s linear infinite;
    -moz-animation:patternEf 80s linear infinite;
    -o-animation:patternEf 80s linear infinite;
    animation:patternEf 80s linear infinite
}

@-webkit-keyframes patternEf {
    0% {
        background-position:0 0
    }

    50% {
        background-position:-100% 0
    }

    100% {
        background-position:100% 0
    }


}

@-moz-keyframes patternEf {
    0% {
        background-position:0 0
    }

    50% {
        background-position:-100% 0
    }

    100% {
        background-position:100% 0
    }


}

@keyframes patternEf {
    0% {
        background-position:0 0
    }

    50% {
        background-position:-100% 0
    }

    100% {
        background-position:100% 0
    }


}

#rainimage {
    margin:0 auto;
    top:0;
    z-index:0;
    position:fixed;
    left:0;
    width:100%;
    height:100%;
    background-size:cover
}

#rainimage img {
    width:100%;
    height:100%
}

#intro {
    background:url(../img/5.jpg) 50% 0 repeat;
    margin:0
}

.bg-animation #intro,.rain-bg #intro,.slide-bg #intro,.video-bg #intro {
    background:0 0
}

#intro h4 {
    border-bottom:1px solid rgba(255,255,255,.2);
    display:inline-block;
    padding:5px 0;
    margin-bottom:20px
}

#intro .story {
    padding:40px 0 250px;
    height:100%
}

#intro .more-btn {
    position:absolute;
    left:0;
    right:0;
    bottom:50px;
    text-align:center
}

#owl-text .item,#text-rotator,#typer {
    color:#FFF;
    font:700 6em/1em Lato;
    text-transform:uppercase
}

#owl-text .item span,#text-rotator span,#typer span {
    color:#1BBCB8
}

#countdown {
    background:url(../img/2.jpg) 50% 0 no-repeat
}

#ourteam {
    background:url(../img/3.jpg) 50% 0 no-repeat
}

#ourteam ul {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px
}

#ourteam h3 {
    margin-bottom:15px;
    line-height:1em
}

.team-member figure {
    overflow:hidden;
    margin:0;
    position:relative
}

.team-member figure img {
    margin-left:auto;
    margin-right:auto;
    -webkit-transition:-webkit-transform .4s;
    -moz-transition:-moz-transform .4s;
    transition:transform .4s
}

.team-member figure.cs-hover img,.team-member figure:hover img {
    -webkit-transform:translateY(-50px);
    -moz-transform:translateY(-50px);
    -ms-transform:translateY(-50px);
    transform:translateY(-50px)
}

.team-member figcaption {
    height:1px;
    width:100%;
    top:auto;
    background:#121212;
    left:0;
    position:absolute;
    bottom:0;
    opacity:0;
    -webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);
    -webkit-transition:all .4s,opacity .1s .3s;
    -moz-transition:-moz-transform .4s,opacity .1s .3s;
    transition:transform .4s,opacity .1s .3s
}

.team-member figure.cs-hover figcaption,.team-member figure:hover figcaption {
    opacity:1;
    height:100%;
    -webkit-transform:translateY(-1px);
    -moz-transform:translateY(0px);
    -ms-transform:translateY(0px);
    transform:translateY(0px);
    -webkit-transition:all .4s,opacity .1s;
    -moz-transition:-moz-transform .4s,opacity .1s;
    transition:transform .4s,opacity .1s
}

.member-links {
    display:block;
    left:0;
    position:absolute;
    text-align:center;
    top:48%;
    width:100%
}

.member-links a {
    color:#FFF;
    display:inline-block;
    width:24px;
    height:24px;
    text-align:center
}

.member-links a:hover {
    color:#1bbcb8
}

#subscribe {
    background:url(../img/4.jpg) 50% 0 no-repeat
}

.option-group {
    display:inline-block;
    margin-bottom:70px;
    position:relative
}

.option-group input {
    display:block;
    width:300px;
    padding:12px 55px 12px 20px
}

.option-group input:focus {
    width:440px
}

.option-group label {
    border:2px solid #fff;
    cursor:pointer;
    display:inline-block;
    float:right;
    height:66px;
    margin:-66px 0 0;
    position:relative;
    text-align:center;
    transition:all 300ms ease 0s;
    width:66px
}

.option-group label i {
    font-size:24px;
    line-height:60px
}

.option-group .button-submit {
    position:absolute;
    right:0;
    top:0;
    height:66px;
    width:66px;
    opacity:0
}

.option-group .button-submit:hover {
    width:66px
}

#contact {
    background:url(../img/5.jpg) 50% 0 no-repeat
}

#contact .row input,#contact .row textarea {
    width:100%
}

#contact .row label.error {
    display:none!important
}

#contact .row input.error,#contact .row textarea.error {
    border-color:#DE3961
}

.form-submit {
    margin-top:30px
}

#preload {
    background:#161e27;
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:998
}

#preload-content {
    color:#bec7cf;
    font-size:14px;
    height:100px;
    left:50%;
    margin-left:-50px;
    margin-top:-50px;
    position:absolute;
    text-align:center;
    top:50%;
    width:100px;
    z-index:999
}

.loader2 {
    position:relative;
    width:5px;
    height:5px;
    top:49%;
    top:-webkit-calc(50% - 43px);
    top:calc(50% - 2.5px);
    left:49%;
    left:-webkit-calc(50% - 43px);
    left:calc(50% - 2.5px);
    background-color:#fff;
    border-radius:50px
}

.loader2:before {
    content:"";
    position:absolute;
    top:-38px;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
    border-radius:0 50px 0 0;
    width:40px;
    height:40px;
    background-color:rgba(255,255,255,.1);
    -webkit-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-animation:loader2 1.5s linear infinite;
    animation:loader2 1.5s linear infinite
}

.loader2:after {
    content:"";
    position:absolute;
    top:2px;
    right:2px;
    border-bottom:3px solid #fff;
    border-left:3px solid #fff;
    border-radius:0 0 0 50px;
    width:40px;
    height:40px;
    background-color:rgba(255,255,255,.1);
    -webkit-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-animation:loader2 1.5s linear infinite;
    animation:loader2 1.5s linear infinite
}

@-webkit-keyframes loader2 {
    0% {
        -webkit-transform:rotate(0deg)
    }

    100% {
        -webkit-transform:rotate(360deg)
    }


}

@keyframes loader2 {
    0% {
        transform:rotate(0deg)
    }

    100% {
        transform:rotate(360deg)
    }


}

.clearfix:after,.clearfix:before {
    display:table;
    content:" "
}

.clearfix:after {
    clear:both
}

@media (min-width:1030px) {
    #contact,#countdown,#intro,#ourteam,#subscribe {
        background-attachment:fixed
    }


}

@media (max-width:768px) {
    .fullsection {
        background-size:cover!important
    }

    h1 {
        font-size:80px;
        line-height:80px
    }

    h2 {
        font-size:35px
    }

    h3 {
        margin:0 0 16px;
        font-size:20px
    }

    h4 {
        font-size:16px
    }

    h5 {
        font-size:14px
    }

    .subheader {
        margin:5px 0 70px;
        font-size:14px
    }

    #owl-text .item {
        font-size:3.5em
    }

    #ourteam h3 {
        margin-bottom:0
    }


}

@media (max-width:568px) {
    #navigation {
        display:none
    }

    #contact,#countdown,#intro,#ourteam,#subscribe {
        background-attachment:scroll;
        background-size:cover
    }

    h1 {
        font-size:70px;
        line-height:70px
    }

    h2 {
        font-size:30px
    }

    h3 {
        font-size:17px
    }

    h4 {
        font-size:14px
    }

    h5 {
        font-size:12px
    }

    .subheader {
        margin:5px 0 70px;
        font-size:13px
    }

    #owl-text .item {
        font-size:2.5em
    }


}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {
    #contact,#countdown,#intro,#ourteam,#subscribe {
        background-attachment:scroll;
        background-size:cover!important
    }


}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :portrait) {
    #contact,#countdown,#intro,#ourteam,#subscribe {
        background-attachment:scroll;
        background-size:cover
    }


}

